  <!-- Footer nav -->
  <div id="toppagediv">
    <!-- <a class="toppage" aria-current="page" href="#">Top of the page</a> -->
    <button type="button" class="btn btn-outline-primary toppage" onclick="location.href='#'" aria-current="page">Top of the page</button>
  </div>
  <!-- Footer section -->
  <footer class="bg-dark text-white-50 text-center mt-5 p-3">
    &copy; 2023 Ryan(Jeonghyeon) Lee - <a href="https://github.com/ryanleedev" target="_blank">
      <img class="footerIcon" alt="GitHub" src="./resources/images/logos/github.png" width="25"></a> | <a
      href="https://www.linkedin.com/in/jhlee-ryan/" target="_blank">
      <img class="footerIcon" alt="LinkedIn" src="./resources/images/logos/linkedin.png" width="25"></a> | <a
      href="mailto:lee00835@algonquinlive.com" class="text-white ml-2">lee00835@algonquinlive.com</a>
  </footer>